// require files
@import "includes/_reset";
@import "includes/_grid";
@import 'nib';

body
  background lightblue
  font-family sans-serif


//           __          .__
//   _______/  |_ ___.__.|  |   ____   ______
//  /  ___/\   __<   |  ||  | _/ __ \ /  ___/
//  \___ \  |  |  \___  ||  |_\  ___/ \___ \
// /____  > |__|  / ____||____/\___  >____  >
//      \/        \/               \/     \/

// variables
blue = #007DC1
blk = #303030
wht = white
light-blue = #00A3FF

h1
  font-size 65px
  line-height 61px
  color blue

//   ___  __     __  ____   __   __    ____
//  / __)(  )   /  \(  _ \ / _\ (  )  / ___)
// ( (_ \/ (_/\(  O )) _ (/    \/ (_/\\___ \
//  \___/\____/ \__/(____/\_/\_/\____/(____/
.inline-list
  li
    display inline-block;
    list-style-type none;


//  __    __  __ _  __ _  ____
// (  )  (  )(  ( \(  / )/ ___)
// / (_/\ )( /    / )  ( \___ \
// \____/(__)\_)__)(__\_)(____/

a
  text-decoration none
  color blue



//  ____  _  _  ____  ____  __   __ _  ____
// (  _ \/ )( \(_  _)(_  _)/  \ (  ( \/ ___)
//  ) _ () \/ (  )(    )( (  O )/    /\___ \
// (____/\____/ (__)  (__) \__/ \_)__)(____/

.btn
  font-size 20px
  color blue
  padding 18px 48px
  display inline-block
  position relative
  border 1px solid blue
  border-radius 4px
  &.default
    background wht
